<%= render "shared/breadcrumbs", current_page: :edit_admins_flight_class  %>

<div class="card shadow rounded">
  <h4 class="card-header bg-primary bg-gradient text-white">
    <%= crud_t(resource_klass, :edit) %>
  </h4>
  <div class="card-body">
    <%= render "form", flight_class: @flight_class %>
  </div>
</div>
