
<div class="card shadow rounded">
  <h4 class="card-header bg-primary bg-gradient text-white">
    Editing Flight Classes
  </h4>
  <div class="card-body">
    <%= render "form", flight_class: @flight_class %>
    <div>
      <br/>
      <%= link_to "Back to flight", admins_flight_path(@flight_class.flight) %>
    </div>
  </div>
</div>
