<h1>Admins::Home#index</h1>
<p>Find me in app/views/admins/home/index.html.erb</p>
<p>Sign Out from <%= link_to "Here", destroy_admin_session_path, data: { "turbo-method": :delete } %></p>

<p><%= link_to "List Aeroplanes", admins_aeroplanes_path %><p>
<p><%= link_to "List Flights", admins_flights_path  %><p>
