<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% breadcrumb_items = breadcrumbs(current_page) %>

    <% breadcrumb_items.each_with_index do |item, index| %>
      <% if index + 1 == breadcrumb_items.length %>
        <li class="breadcrumb-item active" aria-current="page"><%= item[:title] %></li>
      <% else %>          
        <li class="breadcrumb-item" aria-current="page">
          <%= link_to item[:title], public_send(item[:url][:helper], item[:url][:params]) %>
          </li>
      <% end %>
    <% end %>
  </ol>
</nav>