<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" 
     aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer" data-controller="confirmation-modal">
        <button type="button" class="btn btn-secondary"
                data-action="click->confirmation-modal#run"
                data-confirmation-modal-confirmed-param="0">
          Close
        </button>
        <button type="button" class="btn btn-danger" 
                data-action="click->confirmation-modal#run"
                data-confirmation-modal-confirmed-param="1" >
          Destroy
        </button>
      </div>
    </div>
  </div>
</div>