<div class="card shadow rounded">
  <h4 class="card-header bg-primary bg-gradient text-white">
    Editing flight
  </h4>
  <div class="card-body">
    <%= render "form", flight: @flight %>
    <div>
      <br/>
      <%= link_to "Show this flight", [:admins, @flight] %> |
      <%= link_to "Back to flights", admins_flights_path %>
    </div>
  </div>
</div>

