<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<div id="flights">
  <% @flights.each do |flight| %>
    <%= render flight %>
    <p>
      <%= link_to "Show this flight", [:admins, flight] %>
    </p>
  <% end %>
</div>

<%= link_to "New flight", new_admins_flight_path %>
