<div class="card shadow rounded">
  <h4 class="card-header bg-primary bg-gradient text-white">
    Editing aeroplane
  </h4>
  <div class="card-body">
    <%= render "form", aeroplane: @aeroplane %>
    <div>
      <br/>
      <%= link_to "Show this aeroplane", [:admins, @aeroplane] %> |
      <%= link_to "Back to aeroplanes", admins_aeroplanes_path %>
    </div>
  </div>
</div>
