<div class="card shadow rounded">
  <h4 class="card-header bg-primary bg-gradient text-white">
    New aeroplane
  </h4>
  <div class="card-body">
    <%=  render "form", aeroplane: @aeroplane %>
  </div>
</div>

